@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700&display=swap");
html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
    text-transform: uppercase;
}
  
.body {
    background: radial-gradient(circle, #1f3756 50%, #141539);
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* le header  */
.header-box{
    height: 20vh;
    width: 50%;
    margin-top: 5vh;
    border-radius: 15px;
    border: solid 3px hsl(217, 16%, 45%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.game-name-box{
    height: 90%;
    width: auto;
    margin-left: 2em;
}
.game-name-box img{
    height: 100%;
    width: auto;
}
.score-box{
    height: 90%;
    width: 20%;
    margin-right: 2em;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
}
@media(max-width : 1443px){
    .score-box{
        width: 35%;
    }
}
@media(max-width : 894px){
    .game-name-box{
        margin-left: .5em;
    }
    .score-box{
        margin-right: .5em;
    }
    .header-box{
        width: 70%;
    }
}
@media(max-width : 704px){
    .game-name-box img{
        width: 10em;
    }
    .score-box{
        margin-right: .5em;
    }
}
@media(max-width : 500px){
    
}
.score_annoucement{
    color:hsl(229, 64%, 46%);
    font-size: 1.5em;
    font-weight: bold;
}
.score{
    font-size: 3em;
    color: hsl(229, 25%, 31%);
    font-weight: bold;
}


/* le jeux */
.game-wrapper{
  height: 60vh;
  width: 80vh;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  background-image: url("images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.close-game-wrapper{
    display: none;
}


@media(min-width:1440px){
    .game-wrapper{
        width: 80vh;
        background-size: 50%;
    }
}
@media(max-width:1024px){
    .game-wrapper{
        width: 70vh;
    }
}
@media(max-width:425px){
    .game-wrapper{
        width: 50vh;
        background-size: 60%;
    }
}

/* le hover des buttons du jeux */
.btn-rock:hover,
.btn-paper:hover,
.btn-scissors:hover {
  -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.btn-rock{
    background-image: url("images/icon-rock.svg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 12px solid #dc2e4e;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(221, 64, 93, 0.7);
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(221, 64, 93, 0.7);
    cursor: pointer;
    width: 50%;
    height: 50%;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.btn-paper {
    background-image: url("images/icon-paper.svg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 12px solid #4865f4;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(86, 113, 245, 0.7);
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(86, 113, 245, 0.7);
    cursor: pointer;
    width: 50%;
    height: 50%;
}
.btn-scissors {
    background-image: url("images/icon-scissors.svg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 12px solid #ec9e0e;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(236, 169, 34, 0.7);
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(236, 169, 34, 0.7);
    cursor: pointer;
    width: 50%;
    height: 50%;
}

/* les buttons du footer qui sert a ouvrir les rules  */
.rule_box{
    width: 100%;
    height: 7vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 1em;
}
.rule--reset--box{
    width: auto;
    height: 100%;
}
.rule_box button{
    height: 100%;
    width: 8em;
    margin-right: 2em;
    font-size: 1.5em;
    outline: none;
    background: transparent;
    border: 2px solid hsl(217, 16%, 45%);
    color: #fff;
    border-radius: 5px;
}

/* mes refferences */
.attribution { 
    font-size: 11px;
    text-align: center; 
    margin-left: 2em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(max-width:768px){
    .rule_box{
        flex-direction: column-reverse;
        height: auto;
    }
    .rule_box button{
        height: 2em;
        margin-right: 0em;
        margin-bottom: .5em;
    }
    .attribution{
        margin-left: 0em;
    }
    .rule--reset--box{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* la page des resultats  */
.result-wrapper{
    height: 80vh;
    width: 70%;
    margin-top: 2vh;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.active-result--wrapper-desktop{
    display: flex;
}
.active-result--wrapper-mobile{
    display: grid;
}


@media(max-width:768px){
    .result-wrapper{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .result-column-1{
        order: 1;
    }
    .result-column-2{
        order: 3;
        grid-column: 1/ span 2;
    }
    .result-column-3{
        order: 2;
    }
    .player-selection--label,.cumputer-selection--label{
        font-size: 1em;
    }
}

.result-column{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/* les button du joueur et du cumpunter  */
/* joueur */
.player-selection--icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
    cursor: pointer;
    width: 15em;
    height: 15em;
}
/* cumputer  */
.cumpter-selection--icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
    cursor: pointer;
    width: 15em;
    height: 15em;
    display: flex;
}
@media(max-width:1025px){
    .player-selection--icon,.cumpter-selection--icon{
        width: 15em;
        height: 15em;
    }
}
@media(max-width:768px){
    .player-selection--icon{
        width: 10em;
        height: 10em;
    }
    .cumpter-selection--icon{
        width: 10em;
        height: 10em;
    }
}


/* a ajouter quand il le faut pour styliser les buttons en fonction des resultats */
.active-player-selected-rock--button{
    background-image: url("images/icon-rock.svg");
    background-color: white;
    border: 12px solid #dc2e4e;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(221, 64, 93, 0.7);
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(221, 64, 93, 0.7);
}
.active-player-selected-paper--button{
    background-image: url("images/icon-paper.svg");
    background-color: white;
    border: 12px solid #4865f4;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(86, 113, 245, 0.7);
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(86, 113, 245, 0.7);
}
.active-player-selected-scissors--button{
    background-image: url("images/icon-scissors.svg");
    background-color: white;
    border: 12px solid #ec9e0e;
    -webkit-box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(236, 169, 34, 0.7);
    box-shadow: inset 0 6px rgba(0, 0, 0, 0.2), 0 6px rgba(236, 169, 34, 0.7);
}

/* se declanche en attendant le result du cumputer  */
.load-cumputer-icon{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    animation: pulse-animation 1.5s ease-out infinite;
}
@keyframes pulse-animation {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0.3;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.5;
    }
}
.is--winner{
    animation: pulse-animation-deux 2.5s ease-out infinite;
}
@keyframes pulse-animation-deux {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}


/* les textes indictatifs du resultat */
.result-column-2{
    display: none;
    flex-direction: column;
}
.active--column-2{
    display: flex;
}
.player-selection--label,.cumputer-selection--label{
    margin-bottom: 3em;
    font-size: 1em;
    color: #fff;
}
.game-result--label{
    font-size: 3em;
    margin-bottom: 1em;
    color: #fff;
}


/* btn-play-again pour jouer une autre partie */
.btn-play-again{
    width: 15em;
    height: 2.5em;
    color:#141539;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}
.btn-play-again:hover{
    transform: scale(1.2);
    color: #ec9e0e;
}


/* Le rule  */
.rules{
    display: none;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.33);
    z-index: 10;
    align-items: center;
    justify-content: center;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
        -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}
/* classe qui sert a faire apparaitre et disparaitre les rules */
.active--rules{
    display: flex;
}
/* les elements du rules  */
.rule--conatiner{
    background: #fff;
    border-radius: 5px;
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line-1-rule{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10%;
}
.line-1-rule h2{
    color: #1f3756;
    margin-left: 10%;
}
.line-1-rule img{
    margin-right: 10%;
}

@media(max-width:1500px){
    .rule--conatiner{
        height: 40%;
        width: 30%;
    }
}
@media(max-width:1024px){
    .rule--conatiner{
        height: 45%;
        width: 40%;
    }
}
@media(max-width:780px){
    .rule--conatiner{
        height: 50%;
        width: 50%;
    }
}
@media(max-width:650px){
    .rule--conatiner{
        width: 60%;
    }
}
@media(max-width:426px){
    .rule--conatiner{
        height: 60%;
        width: 80%;
    }
}
@media(max-width:376px){
    .rule--conatiner{
        height: 60%;
        width: 90%;
    }
}